    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                'post{{ post.id }}',
                                'translation{{ post.id }}',
                                '{{ post.language or '' }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                <br>
                <span id="like-count-{{ post.id }}" class="text-muted small me-1">{{ post.like_count() }}</span><button
                    id="like-btn-{{ post.id }}"
                    onclick="likePost({{ post.id }})"
                    class="btn btn-link p-0 border-0"
                    style="color: {% if post.is_liked_by(current_user) %}#0d6efd{% else %}#6c757d{% endif %}; font-size: 1.1rem; line-height: 1;">
                    <i id="like-icon-{{ post.id }}" class="bi {% if post.is_liked_by(current_user) %}bi-hand-thumbs-up-fill{% else %}bi-hand-thumbs-up{% endif %}"></i>
                </button>
            </td>
        </tr>
    </table>
